* {
    margin: 0;
  }
  .display {
    text-align: center;
    background-color: aqua;
    padding: 80px;
    border: 5px solid black;
    /* width: 900px; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .display-para {
    background-color: rgb(212, 27, 135);
    padding: 20px;
    font-size: 40px;
    border-radius: 20px;
    border: 5px solid black;
    height: 100px;
    
  }

  p{
    width: 600px;

  }